html{
  min-height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background:url(/img/b4.png) no-repeat;
  background-size: 100%;
  /* background-position: bottom;
  background-color: #95e8f3; */
  min-height: 100%;
 
}


.fi{
  margin:300px 300px;
}